a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
}

p {
  margin: 0 0 20px;
}

.list-entry {
  list-style: none;
  margin-bottom: 6vh;
  box-shadow: 0 2px 15px 3px rgba(0, 0, 0, 0.5);
  padding: 20px;
  cursor: pointer;
}

.link-title {
  display: inline;
  margin-bottom: 0;
}

.link-img {
  max-width: 100%;
  min-height: 100px;
}

.link-text {
  display: inline-block;
  width: 75%;
}

.text-container {
  display: flex;
  justify-content: center;
  padding: 0 1vh;
}

@media only screen and (min-height: 200px)  {
  .link-img { max-height: 150px; }
}

@media only screen and (min-height: 300px)  {
  .link-img { max-height: 250px; }
}

@media only screen and (min-height: 400px)  {
  .link-img { max-height: 350px; }
}

@media only screen and (min-height: 600px)  {
  .link-img { max-height: 550px; }
}

@media only screen and (min-height: 900px)  {
  .link-img { max-height: 850px; }
}

@media only screen and (min-height: 1024px)  {
  .link-img { max-height: 950px; }
}

@media only screen and (min-height: 2000px)  {
  .link-img { max-height: 1800px; }
}

.list-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 65px;
}

#image-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media only screen and (min-width: 1024px)  {
  #image-list {
    width: 75%;
  }


}

@media only screen and (max-width: 414px)  {
  .text-container {
    /*text-align: left;*/
  }
}

.navbar-default {
  position: fixed;
  width: 100%;
}
