<html>

<head>
  <title>Chreddit</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous" />
  <link href="style.css"
    rel="stylesheet" />
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Project name</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="http://localhost:3000/funny">Funny</a></li>
          <li><a href="http://localhost:3000/aww">Cute</a></li>
          <li><a href="http://localhost:3000/pics">Pictures</a></li>
          <li><a href="http://localhost:3000/gifs">Gifs</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>

  <div class="list-container">
    <ul id="image-list">
      {{#links}}
      <li class="list-entry">
        <a href="http://localhost:3000/{{linkId}}"><img src="{{href}}" class="link-img"></a>
        <div class="text-container">
          <a href="http://localhost:3000/{{linkId}}">
            <h3 class="link-title">{{text}}</h3>
          </a>
        </div>
        <div class="text-container">
          <a href="http://localhost:3000/{{linkId}}">
            <h5 class="link-share">localhost:3000/{{linkId}}</h5>
          </a>
        </div>
      </li>
      {{/links}}
    </ul>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous">
  </script>
</body>

</html>
