<html>

<head>
  <title>PicFish</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous" />
  <link href="style.css"
    rel="stylesheet" />

</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand">PicFish</span>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a class="nav-link" href="http://localhost:3000/funny">Funny</a></li>
          <li><a class="nav-link" href="http://localhost:3000/aww">Cute</a></li>
          <li><a class="nav-link" href="http://localhost:3000/pics">Pictures</a></li>
          <li><a class="nav-link" href="http://localhost:3000/gifs">Gifs</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>

  <div class="list-container">
    <p>
      Click any picture to share
    </p>
    <ul id="image-list">
      {{#links}}
      <li class="list-entry"
        data-toggle="modal"
        data-target="#share-link-modal"
        data-link="localhost:3000/{{linkId}}" >
        <div class="img-container">
          <img src="{{href}}" class="link-img" />
        </div>
        <div class="text-container">
            <h3 class="link-title">
              {{text}}
            </h3>
        </div>
      </li>
      {{/links}}
    </ul>
  </div>

  <!-- modal -->
  <div class="modal fade" id="share-link-modal">
    <div class="modal-dialog">

      <!-- modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Thanks for Sharing!</h4>
        </div>
        <div class="modal-body">
          <a id="copy-target">
            <span id="copy-target">
              localhost:3000
            </span>
          </a>
          <button onclick="copyToClipboard()" class="btn btn-default" id="copy-button">
            Copy to Clipboard
          </button>
        </div>
      </div>

    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous">
  </script>
  <script>
    $('#share-link-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var shareLink = button.data('link');
      var modal = $(this);
      modal.find('#copy-target').text(shareLink);
      modal.find('#copy-link').attr('href', 'http://' + shareLink);
    })

    function copyToClipboard() {
      var copyTarget = document.getElementById("copy-target");
      var range = document.createRange();

      range.selectNode(copyTarget);
      window.getSelection().addRange(range);
      document.execCommand('copy');
    }
  </script>

</body>

</html>
