<html prefix="og: http://ogp.me/ns#">
<head>
  <title>PicFish - {{title}}</title>

  <meta name="description" content="Check out the funniest, cutest, coolest, and most amazing photos on the web"/>

  <meta property="og:url" content="http://{{domain}}/{{extension}}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="PicFish - {{title}}" />
  <meta property="og:description" content="The best pictures from around the web, updated hourly" />
  <meta property="og:image" content="{{fbThumbnail}}" />

  <meta property="fb:app_id" content="153351798498756" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@pic_fish">
  <meta name="twitter:site" content="@pic_fish">
  <meta name="twitter:title" content="PicFish - {{title}}">
  <meta name="twitter:description" content="The best pictures from around the web, updated hourly">
  <meta name="twitter:image:src" content="{{twThumbnail}}">
  <meta name="twitter:image:width" content="280">
  <meta name="twitter:image:height" content="150">

  <meta name="keywords" content="images, funny, image sharing, reaction gif, viral, cute, gif, gaming" />

  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous" />
  <link href="style.css" rel="stylesheet" />

  <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

</head>

<body class="{{category}}">
  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!-- Load Twitter widgets for JavaScript -->
  <div id="twitter-wjs"></div>
  <script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };
    return t;
  }(document, "script", "twitter-wjs"));</script>

  <nav class="navbar navbar-default nav-down">
    <div class="container-fluid">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbar"
          aria-expanded="false"
          aria-controls="navbar">

          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <button
          type="button"
          class="toggle-height collapsed btn">
          Shrink Pictures
        </button>
        <span class="navbar-brand">
          <a class="brand-link" href="http://{{domain}}">PicFish</a>
        </span>
      </div>
      <button
        type="button"
        class="toggle-height btn">
        Shrink Pictures
      </button>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a class="nav-link" href="http://{{domain}}">All</a></li>
          <li><a class="nav-link" href="http://{{domain}}/general">General</a></li>
          <li><a class="nav-link" href="http://{{domain}}/funny">Funny</a></li>
          <li><a class="nav-link" href="http://{{domain}}/cute">Cute</a></li>
          <li><a class="nav-link" href="http://{{domain}}/gifs">Gifs</a></li>
          <li><a class="nav-link" href="http://{{domain}}/gaming">Gaming</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>

  <!-- modal -->
  <div class="modal fade" id="share-link-modal">
    <div class="modal-dialog">

      <!-- modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Share Link</h4>
        </div>
        <div class="modal-body">
          <div class="share-img-container">
            <img id="share-img" src="logo.png"/>
            <div id="img-alignment-helper"></div>
          </div>
          <a id="copy-link">
            <span id="copy-target">
              www.pic.fish
            </span>
          </a>
          <div id="social-buttons">

          </div>
          <button onclick="copyToClipboard()" class="btn btn-default" id="copy-button">
            Copy to Clipboard
          </button>
        </div>
      </div>

    </div>
  </div>

  <h1 class="header-text main"> The best pictures from around the web, updated hourly </h1>
  <div class="header-text sub"> click any picture to share </div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous">
  </script>
  <script>
    function requestLinkDeletion(badUri) {
      $("img[src$='" + badUri + "']").parent().parent().remove();
    }
  </script>

  {{#links}}
  <a name="{{linkId}}" class="link-anchor">
    <li class="list-entry"
      data-toggle="modal"
      data-target="#share-link-modal"
      data-linkid="{{linkId}}"
      data-categoryIndex="{{categoryIndex}}"
      data-totalIndex="{{totalIndex}}"
      data-linktext="{{text}}"
      data-imgsrc="{{href}}"
      data-link="{{domain}}/{{linkId}}" >

      <div class="img-container">
        <img src="{{href}}" class="link-img" alt="{{text}}" onerror="requestLinkDeletion('{{href}}')"/>
      </div>
      <div class="text-container">
        <h3 class="link-title">
          {{text}}
        </h3>
      </div>
    </li>
  </a>
  {{/links}}


  <script src="picfish.js"></script>
</body>

</html>
