* {
  transition: all 0.2s;
  cursor: default;
}

/*Prevent url bar from changing size*/
html, body {
  height: 100%;
}

#scrollable-content {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

a {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
}

a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
}

p {
  margin: 0 0 20px;
}

button:active, button:focus {
  outline: 0 !important;
}

.list-entry {
  list-style: none;
  margin-bottom: 6vh;
  box-shadow: 0 2px 15px 3px rgba(0, 0, 0, 0.5);
  padding: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.list-entry * {
  cursor: pointer;
}

.link-title {
  display: inline;
  margin: 0;
}

.link-img {
  max-width: 100%;
  min-height: 100px;
  align-self: center;
}

.link-text {
  display: inline-block;
  width: 75%;
}

.text-container {
  display: flex;
  justify-content: center;
  padding: 0 1vw;
  margin: 3vh 0;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 65px;
}

#image-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media only screen and (min-width: 1024px)  {
  #image-list {
    width: 75%;
  }

}

@media only screen and (min-width: 768px)  {
  a.nav-link {
    min-width: 80px;
    text-align: center;
    border-right: 1px solid #e7e7e7;
  }
}

#copy-target {
  font-size: 1.5em;
  cursor: pointer;
}


.navbar-default {
  position: fixed;
  width: 100%;
  border: none;
  z-index: 10;
}

.container-fluid {
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.navbar-brand {
  border-right: 1px solid #e7e7e7;
  color: #888;
}

.header-text {
  text-align: center;
}

.header-text.main {
  font-size: 3.5em;
  line-height: 1em;
  margin-bottom: 2vh;
  padding: 0 2vw;
}

.header-text.sub {
  font-size: 1.5em;
  margin-bottom: 5vh;
}

.toggle-height{
  position: relative;
  float: right;
  padding: 7px 10px;
  margin-top: 7px;
  margin-right: 15px;
  margin-bottom: 7px;
  background-image: none;
  background-color: transparent;
  border-radius: 4px;
  color: #888;
}

.nav>li:hover, .nav>li:focus {
  background-color: #ddd;
}

.navbar-toggle {
  margin-top: 7px;
  margin-bottom: 7px;
}

.navbar-default .toggle-height {
  border: 1px solid #e7e7e7;
}

.navbar-default .toggle-height:focus {
  background-color: transparent;
}

.toggle-height:focus {
  outline: 0;
  background-color: transparent;
}

@media only screen and (max-width: 767px)  {
  .list-entry {
    padding-left: 0;
    padding-right: 0;
  }

  .container-fluid>.toggle-height {
    display: none;
  }


  a.nav-link {
    border-bottom: 1px solid #e7e7e7;
  }

  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }
}

#copy-button {
  margin-top: 1em;
}

.success-text {
  transition: color 0;
  color: #7CFC00;
}

.normal-text {
  transition: color 700ms ease-in;
  color: #337ab7;
}

#copy-link {
  margin-bottom: 1vh
}

.fb-share-button.fb_iframe_widget {
  width: 78px;
  height: 28px;
}

#social-buttons>* {
  margin: 0 3vw;
  text-align: right;
}
