body {
  font-family: 'Roboto', sans-serif;
}

a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
}

p {
  margin: 0 0 20px;
}

button:active, button:focus {
  outline: 0 !important;
}

.list-entry {
  list-style: none;
  margin-bottom: 6vh;
  box-shadow: 0 2px 15px 3px rgba(0, 0, 0, 0.5);
  padding: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.link-title {
  display: inline;
  margin: 0;
}

.link-img {
  max-width: 100%;
  /*max-height: 100%;*/
  min-height: 100px;
  align-self: center;
}

.link-text {
  display: inline-block;
  width: 75%;
}

.text-container {
  display: flex;
  justify-content: center;
  padding: 0 1vh;
  margin-top: 3vh;
}

.img-container {
  /*height: 80%;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.list-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 65px;
}

#image-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media only screen and (min-width: 1024px)  {
  #image-list {
    width: 75%;
  }
}

#copy-target {
  font-size: 3.5vh;
  cursor: pointer;
}


.navbar-default {
  position: fixed;
  width: 100%;
}

.nav-link {
  font-size: 3vh;
}

.navbar-brand {
  border-right: 1px solid #eee;
}

.header-text {
  text-align: center;
}

.header-text.main {
  font-size: 3.5em;
  line-height: 1em;
  margin-bottom: 0.5em;
}

.header-text.sub {
  font-size: 1.5em;
  margin-bottom: 5vh;
}

.toggle-height {
  position: relative;
  float: right;
  padding: 7px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-image: none;
  background-color: #ccc;
  border: 1px solid transparent;
  border-radius: 4px;
}

.toggle-height:focus {
  outline: 0;
}

@media only screen and (max-width: 767px)  {
  .list-entry {
    padding-left: 0;
    padding-right: 0;
  }

  .container-fluid>.toggle-height {
    display: none;
  }
}
