* {
  transition: all 0.2s;
  cursor: default;
}

/*Prevent url bar from changing size*/
html, body {
  text-align: center;
}

a {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 75px 0 40px 0;
  overflow-x: hidden;
}

body.cute {
  background-color: #7F2982;
  color: #F7B2B7;
}

a:focus, a:hover {
  outline: 0;
  text-decoration: none;
}

ul {
  padding: 0;
}

p {
  margin: 0 0 20px;
}

button:active, button:focus {
  outline: 0 !important;
}

.list-entry {
  list-style: none;
  margin-bottom: 35px;
  box-shadow: 0 2px 15px 3px rgba(0, 0, 0, 0.5);
  padding: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #FCFAF9;
}

.list-entry * {
  cursor: pointer;
}

.link-title {
  display: inline;
  margin: 0;
  color: #666;
}

.cute .link-title {
  color: #16001E;
}

.link-img {
  max-width: 100%;
  min-height: 100px;
  align-self: center;
}

.link-text {
  display: inline-block;
  width: 75%;
}

.text-container {
  display: flex;
  justify-content: center;
  padding: 0 1vw;
  margin: 18px 0;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 65px;
}

#image-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media only screen and (min-width: 768px)  {
  a.nav-link {
    min-width: 80px;
    text-align: center;
    border-right: 1px solid #ddd;
  }

  .navbar-header>.toggle-height {
    display: none;
  }
}

#copy-target {
  font-size: 1.5em;
  cursor: pointer;
}

.nav.navbar-nav {
  text-align: left;
}
.navbar-default {
  position: fixed;
  width: 100%;
  border: none;
  z-index: 10;
  height: 50px;
  top: 0;
  transition: top 0.2s ease-in-out;
}

.container-fluid {
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.navbar {
  border-radius: 0;
  background-color: #FCFAF9;
}

.navbar-brand {
  border-right: 1px solid #e7e7e7;
}
.brand-link {
  color: #888;
}

.nav-up {
  top: -50px;
}

.header-text {
  text-align: center;
}

.header-text.main {
  font-size: 3.5em;
  line-height: 1em;
  margin: 0 0 12px 0;
  padding: 0 2vw;
  font-weight: normal;
}

.header-text.sub {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.toggle-height{
  position: relative;
  float: right;
  padding: 7px 10px;
  margin-top: 7px;
  margin-right: 15px;
  margin-bottom: 7px;
  background-image: none;
  background-color: transparent;
  border-radius: 4px;
  color: #888;
}

.nav>li:hover, .nav>li:focus {
  background-color: #ddd;
}

.navbar-toggle {
  margin-top: 7px;
  margin-bottom: 7px;
}



.navbar-default .toggle-height {
  border: 1px solid #e7e7e7;
}

.navbar-default .toggle-height:focus {
  background-color: transparent;
}

.toggle-height:focus {
  outline: 0;
  background-color: transparent;
}

@media only screen and (max-width: 767px)  {
  .list-entry {
    padding-left: 0;
    padding-right: 0;
  }

  .container-fluid>.toggle-height {
    display: none;
  }


  a.nav-link {
    border-bottom: 1px solid #e7e7e7;
  }

  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #f8f8f8;
  }
}

#copy-button {
  margin-top: 1em;
}

.success-text, a:focus, a:hover {
  transition: color 0;
  color: #7CFC00;
}

.normal-text {
  transition: color 700ms ease-in;
  color: #337ab7;
}

#copy-link {
  margin-bottom: 5px
}

.fb-share-button.fb_iframe_widget {
  width: 78px;
  height: 28px;
}

#social-buttons {
  height: 28px
}

#social-buttons>* {
  margin: 0 3vw;
  text-align: right;
  display: inline;
}

.close {
  font-size: 40px;
  margin-right: 5px;
}

.modal-title{
  height: 38px;
  line-height: 38px;
}

#share-img {
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}

#img-alignment-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.share-img-container {
  height: 40%;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 15px;
}

.loading-spinner-container {
  text-align: center;
  padding: 10px 0;
}

.loading-spinner {
  background-image: url(logo.png);
  display: inline-block;
  height: 5px;
  width: 5px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  animation: spin 1s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body>iframe {
  display: block;
  width: 336px;
  max-width: 336px;
  height: 280px;
  opacity: 1;
  margin: auto;
  margin-bottom: 35px;
}

#bdv_mob_top1 {
  display: none !important;
}
